@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@100;200;300;400;500&family=Stalinist+One&display=swap');

:root{

    --rojo: #b30000; 
    --azul: #9900FF;


}  

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;

}

*::selection{
    background: var(--rojo);
    color: white;

}

html{
    font-size: 62.4%;
    overflow: hidden;

}

body{
    background: #5b5b5b;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.boton{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    justify-content:center;
    border-radius: 5rem;
    background: var(--rojo);
    font-size: 1.8rem;
    color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1 );
    transition: all .3s linear;
}

.boton:hover{
    transform: scale(1.1);
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background: var(--rojo);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0.5rem;
}


header{
    position: fixed;
    top: 1%;
    left: 0;
    width: 100%;
    /*background-color: #444444;*/
    background-image: linear-gradient(to bottom right, #86a4b5, #87949c, #757c80,#87949c,#87949c,#87949c, rgb(255, 122, 89));
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1 );
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

header .navbar a:hover{
    
    color: var(--rojo);

}


header input{

    display: none;


}


@keyframes float {
    0%, 100%{
        transform: translateY(0rem );
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3{
    font-size: 5.5rem;
    color: var(--rojo);
    text-transform: uppercase;
}

.inicio .content h3 span{
    color: var(--rojo);
    text-transform: uppercase;
}


.inicio .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}


.Estudiante{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;

}

.Estudiante .contendor{
    flex: 1 1 80rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2 );
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1 );
    border-radius: .5rem;
    background: #bcbcbc;
}


.Estudiante .heading{
    text-align: left;
    padding: 0;
    padding: 2rem;
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }

}

@media(max-width:768px){

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2 );
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1 );
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;

    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }



    header input:checked ~ .navbar{

        transform: scaleY(1);
        opacity: 1;


    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }
    .inicio .image img{
        width: 100%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }
    .inicio .content p{
        font-size: 1.5rem;
    }

}

@media(max-widht:450px){
    html{
        font-size: 49%;
    }
}

body {
    background-image: url(recursos/img/image.webp)
}


.div-imagen-fondo {
  background-image: url(/recursos/img/image.webp);
 
}

html {height: 100%;}body {background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));}